.custom-textarea {
    max-height: 200px !important;
    overflow: auto;
    resize: none;
    width: 300%;
    border-radius: 10px;
    background: black;
    outline: 3px solid blue;
    color: peachpuff;
    padding: 10px;
  }
  
  /* .text-area::-webkit-scrollbar {
    display: none;
  } */
  
  
  /* width */
  .custom-textarea::-webkit-scrollbar {
    width: 07px;
  }
  
  /* Track */
  .custom-textarea::-webkit-scrollbar-track {
    box-shadow: transparent; 
    border-radius: 20px;
    margin-right: 10px;
  }
   
  /* Handle */
  .custom-textarea::-webkit-scrollbar-thumb {
    background: #b7ecad; 
    border-radius: 10px;
    
  }
  
  /* Handle on hover */
  .custom-textarea::-webkit-scrollbar-thumb:hover {
    background: #3ff81a; 
    
  }
  .response_input_container::-webkit-scrollbar {
    width: 07px;
  }
  
  /* Track */
  .response_input_container::-webkit-scrollbar-track {
    box-shadow: transparent; 
    border-radius: 20px;
    margin-right: 10px;
  }
   
  /* Handle */
  .response_input_container::-webkit-scrollbar-thumb {
    background: #b7ecad; 
    border-radius: 10px;
    
  }
  
  /* Handle on hover */
  .response_input_container::-webkit-scrollbar-thumb:hover {
    background: #3ff81a; 
    
  }
  
  textarea[type='text']:focus {
    height: 30px; 
    border-radius: 12px;
    border-color: rgb(0, 0, 0);
      
  }
  .chat_container {
    color: yellow;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
   position: fixed;
   bottom: 10px;
   right: 39%;
   width: 14%
  }
  .response_input_container{
    position: fixed;
    right: 20.5%;
    border: 2px solid blueviolet;
    bottom: 100px;
    width: 48%;
    overflow-y: auto;
    background-color: rgb(81, 88, 88);
    padding: 10px;
    max-height: 80%;
    height: 70%;
    border-radius: 10px;
  }
  .user_img{
    width: 30px;
    border-radius: 8px;
    margin: 12px 9px 0px 0px;
  }
  
  .assistance_img_text {
    display: flex;
    align-items: center;
  }
  .user_img_text {
    display: flex;
    align-items: flex-start;
    margin: 8px;
  }
  
  .input-container input {
    padding: 1px 11px;
    background: linear-gradient(to right, #FFC371, #FF5F6D);
    color: white;
    border: none;
    border-radius: 11px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    box-shadow: 7px 15px 18px rgba(9, 7, 3, 1.2);
  
  }
  .input-container input:hover {
    background-color: #ff2674;
  }